.world {
  background-color:red;
}
.game {
  color: rgb(32, 32, 216);
}
header{
  background-image: ur(Batman.jpb);
  height: 1000px;
  background-size: cover;
  background-position: center;


}
.main-nav {
  float: center;
  margin-top: 40px;

}
.main-nav li {
  display: inline-block;
}
.main-nav li.active a{
  color: white;
  padding: 10px 10px 10px 10px;
  font-family: Arial;
}
main-nav li a:hover {
  border= .5px solid purple;
}
.logo {
  width: 200px;
  height: 200px;
  float: left;
}
body {
  font-family: sans-serif;
}

